    <div class="nav">
      <div class="wrap-nav">
        <a id="w-node-_4d515440-e4ba-1766-5c9a-cbd807070d13-07070d11" href="{{ routes.root_url }}" aria-current="page" class="link-block w-inline-block w--current"><img src="{{ 'pinaq-logo.png' | asset_url }}" loading="lazy" alt="" class="image-2"></a>
        <div id="w-node-_4d515440-e4ba-1766-5c9a-cbd807070d15-07070d11" class="box-menu"><img src="{{ 'pinaq-logo-white.svg' | asset_url }}" loading="lazy" alt="" class="image-pinaq-logo">
          <div class="wrap-button-standard menu">
            <a href="{{ routes.root_url }}" aria-current="page" class="button-nav w-button w--current">{{ 't2268ff' | t }}</a>
          </div>
          <div class="wrap-button-standard">
            <a href="{{ pages["products"].url }}" class="button-nav w-button">{{ 'tn37f9ca7c' | t }}</a>
          </div>
          <div class="wrap-button-standard">
            <a href="{{ pages["about"].url }}" class="button-nav w-button">{{ 't3c2336d' | t }}</a>
          </div>
          <div class="wrap-button-standard">
            <a href="{{ pages["store-locator"].url }}" class="button-nav w-button">{{ 't1b61c817' | t }}</a>
          </div>
          <div class="wrap-button-standard">
            <a href="blog.html" class="button-nav w-button">{{ 't1fa3c2' | t }}</a>
          </div>
          <div class="box-cart">
            <a href="#" class="link-account w-inline-block"><img src="{{ 'account.png' | asset_url }}" loading="lazy" alt="" class="image-account"></a>
            <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper">
              <a href="#" data-node-type="commerce-cart-open-link" aria-haspopup="dialog" aria-label="Open cart" role="button" class="w-commerce-commercecartopenlink cart-button w-inline-block">
                <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ 't30' | t }}</div>
                <div class="wrap-cart-icon"><img src="{{ 'cart.png' | asset_url }}" loading="lazy" alt="" class="image-cart"></div>
              </a>
              <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar">
                <div role="dialog" data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer">
                  <div class="w-commerce-commercecartheader">
                    <h4 class="w-commerce-commercecartheading">{{ 'tn77ee8913' | t }}</h4>
                    <a href="#" data-node-type="commerce-cart-close-link" role="button" aria-label="Close cart" class="w-commerce-commercecartcloselink w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g fill-rule="nonzero" fill="#333333">
                            <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                          </g>
                        </g>
                      </svg></a>
                  </div>
                  <div class="w-commerce-commercecartformwrapper">
                    <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                      <script type="text/x-wf-template" id="wf-template-0333185e-0be6-019b-749e-1e46438ba30d"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem" template-part-bind="0333185e-0be6-019b-749e-1e46438ba30e"><img data-node-type="cart-item-image" template-part-bind="0333185e-0be6-019b-749e-1e46438ba30f" class="w-commerce-commercecartitemimage" src="<%= it.image %>"><div data-node-type="cart-item-info" template-part-bind="0333185e-0be6-019b-749e-1e46438ba310" class="w-commerce-commercecartiteminfo"><div data-node-type="cart-product-name" class="text-block-5 w-commerce-commercecartproductname" template-part-bind="0333185e-0be6-019b-749e-1e46438ba311"><%= it.title %></div><div class="text-block-6" template-part-bind="0333185e-0be6-019b-749e-1e46438ba312"><%= it.price %></div><ul class="w-commerce-commercecartoptionlist"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label" template-part-bind="0333185e-0be6-019b-749e-1e46438ba315"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value" template-part-bind="0333185e-0be6-019b-749e-1e46438ba318"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" class="remove-button" href="#" role="button" aria-label="Remove item from cart" template-part-bind="0333185e-0be6-019b-749e-1e46438ba319" data-product-id="<%= it.id %>"><div class="text-block-4">Remove</div></a></div><input class="w-commerce-commercecartquantity" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                      <div class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-0333185e-0be6-019b-749e-1e46438ba30d"></div>
                      <div class="w-commerce-commercecartfooter">
                        <div aria-atomic="true" aria-live="polite" class="w-commerce-commercecartlineitem">
                          <div>{{ 'tn76f396dc' | t }}</div>
                          <div class="w-commerce-commercecartordervalue"></div>
                        </div>
                        <div>
                          <div data-node-type="commerce-cart-quick-checkout-actions">
                            <a role="button" tabindex="0" aria-label="Apple Pay" aria-haspopup="dialog" data-node-type="commerce-cart-apple-pay-button" style="background-image:-webkit-named-image(apple-pay-logo-white);background-size:100% 50%;background-position:50% 50%;background-repeat:no-repeat" class="w-commerce-commercecartapplepaybutton">
                              <div></div>
                            </a>
                            <a role="button" tabindex="0" aria-haspopup="dialog" data-node-type="commerce-cart-quick-checkout-button" style="display:none" class="w-commerce-commercecartquickcheckoutbutton"><svg class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                                <defs>
                                  <polygon id="google-mark-a" points="0 .329 3.494 .329 3.494 7.649 0 7.649"></polygon>
                                  <polygon id="google-mark-c" points=".894 0 13.169 0 13.169 6.443 .894 6.443"></polygon>
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                  <path fill="#4285F4" d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469"></path>
                                  <path fill="#34A853" d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16"></path>
                                  <g transform="translate(0 4)">
                                    <mask id="google-mark-b" fill="#fff">
                                      <use xlink:href="#google-mark-a"></use>
                                    </mask>
                                    <path fill="#FBBC04" d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337" mask="url(#google-mark-b)"></path>
                                  </g>
                                  <mask id="google-mark-d" fill="#fff">
                                    <use xlink:href="#google-mark-c"></use>
                                  </mask>
                                  <path fill="#EA4335" d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291" mask="url(#google-mark-d)"></path>
                                </g>
                              </svg><svg class="w-commerce-commercequickcheckoutmicrosofticon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <g fill="none" fill-rule="evenodd">
                                  <polygon fill="#F05022" points="7 7 1 7 1 1 7 1"></polygon>
                                  <polygon fill="#7DB902" points="15 7 9 7 9 1 15 1"></polygon>
                                  <polygon fill="#00A4EE" points="7 15 1 15 1 9 7 9"></polygon>
                                  <polygon fill="#FFB700" points="15 15 9 15 9 9 15 9"></polygon>
                                </g>
                              </svg>
                              <div>{{ 'tn42873978' | t }}</div>
                            </a>
                          </div>
                          <a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton checkout-button" data-loading-text="Hang Tight...">{{ 'tn7941186e' | t }}</a>
                        </div>
                      </div>
                    </form>
                    <div class="w-commerce-commercecartemptystate">
                      <div aria-live="polite" aria-label="This cart is empty">{{ 't3d503d2b' | t }}</div>
                    </div>
                    <div aria-live="assertive" style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                      <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ 'tn1c765d0d' | t }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-collapse="all" data-animation="default" data-duration="400" data-w-id="4d515440-e4ba-1766-5c9a-cbd807070d2e" data-easing="ease" data-easing2="ease" role="banner" class="navbar-hamburger-menu-hm3 navbar w-nav">
          <div data-w-id="4d515440-e4ba-1766-5c9a-cbd807070d2f" class="hamburger-menu-hm3 w-nav-button">
            <div class="top-bar-hm3"></div>
            <div class="_2nd-top-bar-hm3"></div>
            <div class="middle-bar-hm3"></div>
            <div class="bottom-bar-hm3"></div>
            <div class="_2nd-bottom-bar-hm3"></div>
          </div>
        </div>
      </div>
    </div>