
      <div class="section-home-products">
        <div class="animate-circle-grow upper-right"></div>
        <div class="page-padding">
          <div class="padding-vertical">
            <div class="container-large">
              
              <div class="wrap-home-products">
                <h2 class="h2-medium">{{ section.settings.title }}</h2>
                <div class="block-home-products">
                  <div class="block-home-products-row">
                    {% for block in section.blocks %}
                    
                    <div id="w-node-_86ca267a-641c-f289-a020-7407a484e1dd-24e4fe69" data-w-id="86ca267a-641c-f289-a020-7407a484e1dd" class="card-product open-top">
                      <div class="product-split-box">
                        <img src="{{ block.settings.product.metafields.udesly.product-top | img_url: '1000x' }}" loading="lazy" style="-webkit-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" sizes="249.99998474121094px" srcset="{{ block.settings.product.metafields.udesly.product-top | img_url: '1000x' }} 500w, {{ block.settings.product.metafields.udesly.product-top | img_url: '1000x' }} 630w" alt="" class="product-top">
                        <img src="{{ block.settings.product.metafields.udesly.product-bottom | img_url: '1000x' }}" loading="lazy" sizes="249.99998474121094px" srcset="{{ block.settings.product.metafields.udesly.product-bottom | img_url: '1000x' }} 500w, {{ block.settings.product.metafields.udesly.product-bottom | img_url: '1000x' }} 630w" alt="" class="product-bottom">
                        <a href="{{ block.settings.product.url }}" class="home-product-link"></a>
                      </div>
                    </div>


                    

                    {% endfor %}
                    {% comment %}
                    <div id="w-node-_1a29f33f-9a6a-cb0f-a388-687f7cb6c3d0-24e4fe69" data-w-id="1a29f33f-9a6a-cb0f-a388-687f7cb6c3d0" class="card-product open-top">
                      <div class="product-split-box"><img src="{{ 'blue-top.png' | asset_url }}" loading="lazy" style="-webkit-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" sizes="249.99998474121094px" srcset="{{ 'blue-top-p-500.png' | asset_url }} 500w, {{ 'blue-top.png' | asset_url }} 630w" alt="" class="product-top"><img src="{{ 'blue-bottom.png' | asset_url }}" loading="lazy" sizes="249.99998474121094px" srcset="{{ 'blue-bottom-p-500.png' | asset_url }} 500w, {{ 'blue-bottom.png' | asset_url }} 630w" alt="" class="product-bottom">
                        <a href="#" class="home-product-link"></a>
                      </div>
                    </div>
                    <div id="w-node-a965fdb5-ed50-70c9-ba48-f6e626063464-24e4fe69" data-w-id="a965fdb5-ed50-70c9-ba48-f6e626063464" class="card-product open-top">
                      <div class="product-split-box"><img src="{{ 'blue-top.png' | asset_url }}" loading="lazy" style="-webkit-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" sizes="249.99998474121094px" srcset="{{ 'blue-top-p-500.png' | asset_url }} 500w, {{ 'blue-top.png' | asset_url }} 630w" alt="" class="product-top"><img src="{{ 'blue-bottom.png' | asset_url }}" loading="lazy" sizes="249.99998474121094px" srcset="{{ 'blue-bottom-p-500.png' | asset_url }} 500w, {{ 'blue-bottom.png' | asset_url }} 630w" alt="" class="product-bottom">
                        <a href="#" class="home-product-link"></a>
                      </div>
                    </div>
                    <div id="w-node-_0c12fdd2-bbc4-bc91-b550-55486117120d-24e4fe69" data-w-id="0c12fdd2-bbc4-bc91-b550-55486117120d" class="card-product open-top">
                      <div class="product-split-box"><img src="{{ 'blue-top.png' | asset_url }}" loading="lazy" style="-webkit-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" sizes="249.99998474121094px" srcset="{{ 'blue-top-p-500.png' | asset_url }} 500w, {{ 'blue-top.png' | asset_url }} 630w" alt="" class="product-top"><img src="{{ 'blue-bottom.png' | asset_url }}" loading="lazy" sizes="249.99998474121094px" srcset="{{ 'blue-bottom-p-500.png' | asset_url }} 500w, {{ 'blue-bottom.png' | asset_url }} 630w" alt="" class="product-bottom">
                        <a href="#" class="home-product-link"></a>
                      </div>
                    </div>
                    {% endcomment %}
                  </div>

                  {% comment %} Start  {% endcomment %}
                  <div class="block-mobile-cta-products">
                    <div class="wrap-button-standard">
                      <a href="/pages/products" class="button-standard w-button">Order Now</a>
                    </div>
                  </div>
                  {% comment %} End  {% endcomment %}
                </div>
              </div>



            </div>
          </div>
        </div>
        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0)" class="animate-diamond">
          <div class="animate-diamond-in"></div>
        </div>
      </div>


{% schema %}
{
  "name": "PNQ Home Producs",
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "PRODUCTS",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "home-products",
      "name": "Product",
      "limit": 4,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "info": "Product to feature at the homepage",
          "label": "Product"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "PNQ Home Producs",
        "category": "Pinaq"
      }
    ]
}
{% endschema %}

